/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
.container{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:1500px 800px 1000px;
    grid-template-areas: "photoArea"
                        "whatsOnArea"
                        "sampleArea";
                            
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#headerSection {
    position: fixed;
    width: 100%;
    background-color:white;
    height: 50px; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerSection .logo img{
    width: 250px;  
}

#headerSection .nav ul{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

#headerSection .nav li{
    font-size: 2em;
    margin: 0 18px;
}

#photoSection {
    width: 100%;
    padding: 50px;
    grid-area: photoArea;
    background-image: url("../images/landing.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

#photoSection article h3 {
    font-size: 10em;
    color: white;
 }

#photoSection p {
    font-size: 4.5em;
    color: white;
    max-width: 1200px;
}

#whatsOnSection{
    grid-area: whatsOnArea;
    padding: 50px; 
}

#whatsOnSection article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#whatsOnSection h3{
    display: inline-block;
    font-size: 4.5em;
    border-bottom:solid 0.1em #00B172;
}

#whatsOnSection .box-cont{
    padding: 50px;
    display: flex; 
    align-items: baseline;
    margin-left: 150px;

}

#whatsOnSection .box-cont .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

#whatsOnSection .box-cont .box img{
    width: 250px;
}

#whatsOnSection h4{
    font-size: 4em;
    margin-bottom: 0.6em;
    color:#00B172; 
}

#whatsOnSection .box-cont .box p{
    font-size: 3em;
    margin-top: 0;
}


#sampleSection {
    grid-area: sampleArea;
    padding: 120px 50px;
}

#sampleSection article{
    padding: 100px;
    position: relative;
    display: flex;
    background-color:#00B172;
    justify-content: space-between;
}

#sampleSection article > img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 40%;
}

#sampleSection article .cont-description{
    display: flex;
    flex-direction: column;
    
}

#sampleSection article .cont-description h4{
    font-weight: bold;
    font-size: 4em;
    color: #fff;
}

#sampleSection article .cont-description .title{
    font-weight: bold;
    font-size: 4.5em;
    color: #fff;
    display: inline-block;
    border-bottom: 0.1em solid white;
}

#sampleSection article .cont-description p{
    font-size: 3em;
    color: rgb(235, 235, 235);
    max-width: 350px;
}

#sampleSection article .cont-img{
    padding: 130px 90px;
    
}


